.doing.section {
  padding-top: 0;
}
.doing-title {
  margin-top: 0;
  margin-bottom: 50px;
}
.doing__list {
  display: flex;
}
.doing__item {
  position: relative;
  &:not(:first-child) {
    margin-left: 30px;
  }
}
.doing__img {
  display: block;
  max-width: 100%;
  height: auto;
}
.box {
  display: flex;
  position: absolute;
  bottom: 0;
  width: 370px;
  height: 70px;
  justify-content: center;
  align-items: center;
  background-color: rgba(47, 48, 58, 0.8);
}
.box__text {
  @include font(700, 14px, 1.42, 0.03em);
  text-align: center;
  text-transform: uppercase;
  color: var(--fourth-tittle-color);
}
