.footer {
  padding: 60px 0;
  background: var(--background-title-color);
}
.footer-container {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.footer__list {
  margin-top: 20px;
}
.footer__item {
  &:not(:first-child) {
    margin-top: 9px;
  }
}
.footer__link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-text-color);
}
.footer__link--nav {
  color: var(--second-text-color);
}
.footer-social {
  margin-left: 70px;
}
.footer-social__title {
  margin-bottom: 20px;
  @include font($fw: 700);
  text-transform: uppercase;
  color: var(--fourth-tittle-color);
}

.footer-social__list {
  display: flex;
  justify-content: center;
}
.footer-social__item {
  &:not(:first-child) {
    margin-left: 10px;
  }
}

.footer-social__link {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--fourth-tittle-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover {
    color: var(--fourth-tittle-color);
    background-color: var(--main-title-color);
  }
}
.footer-social__icon {
  fill: currentColor;
}
.footer-form {
  width: 570px;
  margin-left: 93px;
}
.footer-form__title {
  @include font($fw: 700);
  margin-bottom: 20px;
  text-transform: uppercase;
  color: var(--fourth-tittle-color);
}
.subscribe {
  display: flex;
}
.subscribe__input {
  width: 358px;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--background-title-color);
  color: var(--fourth-tittle-color);

  &::placeholder {
    font-size: 16px;
    line-height: 1.25;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
}

.subscribe__button {
  margin-left: 12px;
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  justify-content: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: var(--fourth-tittle-color);

  padding: 10px 29px 10px 28px;
  background-color: var(--main-title-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
}
.subscribe__icon {
  fill: var(--fourth-tittle-color);
  margin-left: 10px;
}

.fsubscribe__input {
  color: var(--footer-text-color);
  transition: color 5000ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 5000ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    border: 1px solid var(--main-title-color);
    color: var(--footer-text-color);
  }
}
