.header {
  background-color: var(--fourth-tittle-color);
  border-bottom: 1px solid var(--border-header);
}
.header__container {
  display: flex;
  align-items: center;
}
.header__logo {
  margin-right: 93px;
}

.navigation-list {
  display: flex;
}
.navigation__item:not(:last-child) {
  margin-right: 50px;
}
.navigation__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-title-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    color: var(--main-title-color);
  }
}
.navigation__link--aktive {
  color: var(--main-title-color);
  &::after {
    content: "";

    position: absolute;
    left: 0;
    bottom: -2px;
    display: flex;
    width: 100%;
    height: 4px;
    background-color: var(--main-title-color);
    border-radius: 2px;
  }
}
.header-contacts {
  display: flex;
  margin-left: auto;
}
.header-contacts__item {
  &:last-child {
    margin-left: 50px;
  }
}
.header-contacts__icon {
  display: block;
  padding: 0;
  fill: currentColor;
  margin-right: 10px;
  justify-content: center;
}
.header-contacts__link {
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--main-title-color);
  }
}
