.hero {
  padding: 200px 0;
  background: var(--background-title-color);
  text-align: center;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/headerimg.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.hero__title {
  width: 696px;
  margin: 0 auto 30px;
  @include font(900, 44px, 1.36, 0.06em);
  text-transform: uppercase;
  color: var(--second-text-color);
}

.hero__btn {
  border-radius: 4px;
  border: 0;
  padding: 10px 32px;
  display: inline-block;
  cursor: progress;
  font-family: inherit;
  align-items: center;
  text-align: center;

  @include font(700, 16px, 1.875, 0.06em);
  color: var(--fourth-tittle-color);
  background: var(--main-title-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  &:hover {
    background: var(--btn-hover);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
  }
}
