$aktiveColor: #2196f3;
$btncolor: #2196f3;
$btnHoverColor: #188ce8;
$backgroundColorPrimary: #ffffff;
$backgroundColorSecondary: #f5f4fa;

:root {
  --main-title-color: #2196f3;
  --btn-hover: #188ce8;
  --second-title-color: #212121;
  --third-tittle-color: #000000;
  --fourth-tittle-color: #ffffff;
  --main-text-color: #757575;
  --second-text-color: #ffffff;
  --subtitle-color: #000000;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --background-title-color: #2f303a;
  --dignity-bgc: #e5e5e5;
  --dgc-filter: #f5f4fa;
  --border-header: #ececec;
  --border-portfolio: #eeeeee;
  --link-color: #afb1b8;
}
